# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# for know i will ignore ios native folder
ios/
# dependencies
node_modules/


# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision


# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem


# typescript
*.tsbuildinfo



.env
*.env.local
.env.development.local
